header {
	min-height: 160px;
	margin-top: 0;
	padding-top: 0;
}
header h1 {
	margin-top: -30px;
	padding-top: 0;
}
.small-img {
	width: 50px;
	height: 50px;
}
.character-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-top: 40px;
}
