.modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.93);
	overflow: auto;
}
.modal-content {
	background-color: white;
	width: 500px;
	margin: 30% auto;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	align-items: center;
}
.modal-content input[type='button'] {
	border-radius: 5px;
	width: 90px;
	text-transform: capitalize;
	font-size: 1.2rem;
}
.modal-content input[type='button']:hover {
	filter: brightness(130%);
	cursor: pointer;
}
